:root {
	/* Z-INDEX */
	--z-index-home-hero-banner: -1;
	--z-index-place-ad-img-progress: 1;
	--z-index-place-ad-action-btn: 2;
	--z-index-video-image: 2;
	--z-index-place-ad-step-header: 3;
	--z-index-payment-spinner: 3;
	--z-index-video-image-button: 3;
	--z-index-dialog-close-btn: 9;
	--z-index-ber-label: 9;
	--z-index-header: 99;
	--z-index-base-filters: 100;
	--z-index-ad-detail-header: 999;
	--z-index-bottom-navbar: 999;
	--z-index-progress-bar: 9999;
	--z-index-progress-spinner: 9999;
	--z-index-tenantin-profile-dialog: 1000;
	--z-index-place-ad-form-container: 99;
	--z-index-place-ad-form-stepper-header: 99;
}
